body {
    font-family: Roboto, arial, sans-serif;
}

h1, h3 {
    text-align: center;
}

h3 {
    background-color:#F09D9D;
    color:black;
    font-size:1.2em;
    width: 70%;
    margin-bottom:0px;
    margin: auto;
}

.post p {
    background-color:#CCCCCC;
    margin-top:0px;
}

.post {
    width:70%;
    margin: auto;
}

a
{
    text-decoration: none;
    color: blue;
    font-style: italic;
}

.auteur {
    font-size:1.1em;
    font-weight: 500;
}