body {
    min-height: 100%;
    font-family: Roboto, arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 25px;
    background-image: url("../images/blue-background-2.jpg");
    background-size: auto;
}

h1, h3 {
    text-align: center;
}

post h3 {
    background-color:rgb(250, 210, 123);
    color:black;
    font-size:1.2em;
    margin-bottom:0px;
    margin: auto;
}

.p post {
    text-align: justify;
}

.posts {
    margin: auto;
    border: 2px solid black;
}

.chap {
    padding: 2%;
}

.comms {
    margin: auto;
}

.auteur {
    font-size:1.1em;
    font-weight: 500;
}

.vert {
    color: green;
    font-size: 2em;
}

.rouge {
    color: red;
    font-size: 2em;
}

.chapitre {
    display: flex;
}

.titre {
    background-color: rgb(82, 36, 22);
    color: white;
}

.navbar {
    text-align: right;
    padding: 10px 30px 0 10px;
    min-height: 45px !important;
    max-height: 45px !important;
    background-color: black;
    color: white;
}

.container {
    margin-top: -20px;
    min-height: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    background-color: white;
    width: 75%;
}

.jumbotron {
    background-image: url("../images/white-background-2.png");
    width: 100%;
    color: #ca7505;
}

.container .jumbotron {
    border-radius: 0 !important;
}

.footer {
    position: absolute;
    bottom: 0;  
    width: 75%;
    margin: auto;
    text-align: center;
    height: 25px;
    background-color: white;
}