body {
    font-family: Roboto, arial, sans-serif;
    background-image: url("../images/Alaska_Railroad.jpg");
}

h1, h3 {
    text-align: center;
}

h3 {
    background-color:rgb(250, 210, 123);
    color:black;
    font-size:1.2em;
    margin-bottom:0px;
    margin: auto;
}

.post p {
    background-color:rgb(230, 230, 230);
    text-align: justify;
}

.post {
    margin: auto;
}

.auteur {
    font-size:1.1em;
    font-weight: 500;
}

.vert {
    color: green;
    font-size: 2em;
}

.rouge {
    color: red;
    font-size: 2em;
}